/* Général */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #F3F4F6;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

h2, h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #1E3A8A;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
#imglogo {
    width : 25%;
    position: absolute;
    top : 50px;
    left : 50px;
    margin-left: auto;
}

header {
    background-color: #1E3A8A;
    padding: 20px 0;
    color: white;
}

header .logo {
    display: flex;
    align-content: space-between;
    justify-content: center;
    padding : 10px;
}

header nav ul {
    display: flex;
    align-content: space-between;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
}

.dvi {
    position: absolute;
    top : 50px;
    right : 50px;
    margin-left: auto;
    background-color: #3B82F6;
    color: white;
    padding: 12px 25px;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.dvi:hover {
    background-color: #1E3A8A;
}

.cta {
    background-color: #3B82F6;
    color: white;
    padding: 12px 25px;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.cta:hover {
    background-color: #1E3A8A;
}

/* Section Hero */
.hero {
    background-color: #ffffff;
    color: white;
    text-align: center;
    padding: 80px 0;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

/* Section Services */
.services {
    background-color: #fff;
    padding: 80px 0;
}

.service-items {
    display: flex;
    justify-content: space-around;
}

.service-item {
    text-align: center;
    width: 30%;
}

.service-item i {

    font-size: 3rem;
    color: #1E3A8A;
    margin-bottom: 15px;
}

.service-item h3 {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.services h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Section Portfolio */
.portfolio {
    background-color: #fff;
    padding: 80px 0;
}
.portfolio-items {
    display: flex;
    justify-content: space-around;
}

.portfolio-item {
    text-align: center;
    width: 30%;
}

.portfolio-item i {
    font-size: 3rem;
    color: #1E3A8A;
    margin-bottom: 15px;
}

.portfolio h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}


.portfolio {
    text-align: center; 
    margin: 40px 0;    
}

.image-main {
    width: 100%;        
    max-width: 800px; 
    border-radius: 10px; 
    margin-bottom: 20px; 
    transition: transform 0.3s; 
}

.image-main:hover {
    transform: scale(1.05); 
}

.thumbnail-container {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
    gap: 10px; 
}

.thumbnail {
    width: 100px; 
    height: auto; 
    cursor: pointer; 
    border: 2px solid transparent; 
    border-radius: 5px; 
    transition: border-color 0.3s; 
}

.thumbnail:hover {
    border-color: #1E3A8A; 
}

/* Section Temoignages */
.testimonial {
    background-color: #ffffff;
    padding: 80px 0;
}
.testimonial-items {
    display: flex;
    justify-content: space-around;
}

.testimonial-item {
    text-align: center;
    width: 30%;
    color: #1E3A8A;
    margin-bottom: 20px;
}

.testimonial-item i {
    font-size: 3rem;
    color: #1E3A8A;
    margin-bottom: 15px;
}


/* Section Contact */
.contact {
    padding: 80px 0;
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.contact input, .contact textarea {
    width: 50%;
    padding: 15px;
    margin-bottom: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact button {
    margin-left: auto; 
    margin-right: 300px; 
    margin-top: 20px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    background-color: #1E3A8A;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    transition: background-color 0.3s;
    width: 10%;
}

.contact button:hover {
    background-color: #3B82F6;
}

/* Footer */
footer {
    background-color: #1E3A8A;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}


